body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
button:hover{
    color: #f0f0f0;
    background-color: rgb(4, 158, 12);
    margin: 10px 0;
    padding: 5px;
}
#result {
    margin-top: 10px;
    font-weight: bold;
}